
<f:form.validationResults>
	<f:if condition="{validationResults.flattenedErrors}">
		<div class="error">
			<f:translate key="formerror"/>

				<p>
					<f:for each="{validationResults.flattenedErrors}" as="errorDetail" key="propertyPath">
						<b title="{propertyPath}">
							<f:translate key="formerror.field" />: <f:translate key="{propertyPath}" />
						</b>
						<f:for each="{errorDetail}" as="errorDetailsOfField">
							<span title="{errorDetailsOfField.code}">
								<f:translate key="{errorDetailsOfField.code}"/>
							</span>
						</f:for>
						<br/>
					</f:for>
				</p>

		</div>
	</f:if>
</f:form.validationResults>
