<f:form.errors>
	<div class="error">
		<f:translate key="formerror"/>
		<f:if condition="{error.propertyName}">
			<p>
				<f:for each="{error.errors}" as="errorDetail">
					<b title="{errorDetail.propertyName}">
						<f:translate key="formerror.field" />: <f:translate key="tx_newssubmit_domain_model_news.{errorDetail.propertyName}" />
					</b>

					<f:for each="{errorDetail.errors}" as="errorDetailsOfField">
						<span title="{errorDetailsOfField.code}">
							<f:translate key="{errorDetailsOfField.code}" />
						</span>
					</f:for>
					<br />
				</f:for>
			</p>
		</f:if>
	</div>
</f:form.errors>