<f:layout name="Default" />

<f:section name="main">

	<f:flashMessages />

	<f:render partial="FormErrors" />

	<f:link.action action="new">
		{f:translate(key:'tx_newssubmit_domain_model_news.createNew')}
	</f:link.action>

	<table class="table">
		<f:for each="{news}" as="{newsEntry}">
			<tr>
				<td>
					{news.crdate -> f:format.date()}
				</td>
				<td>
					<f:link.action action="edit" arguments="{news:newsEntry}">
						{news.title}
					</f:link.action>
				</td>
				<td>
					{news.author}
				</td>
			</tr>
		</f:for>
	</table>
	<div class="clearfix"></div>
</f:section>