{namespace ns=T3ext\Newssubmit\ViewHelpers}

<fieldset>
	<legend><f:translate key="header.message" /></legend>

	<label for="news_title">
		<f:translate key="tx_newssubmit_domain_model_news.title" />
	</label>
	<f:form.textfield property="title" id="news_title"/>


	<label for="news_bodytext">
		<f:translate key="tx_newssubmit_domain_model_news.bodytext" />
	</label>
	<f:form.textarea property="bodytext" id="news_bodytext" rows="10" cols="20" />

</fieldset>

<fieldset>
	<legend><f:translate key="header.metadata" /></legend>

	<label for="news_author">
		<f:translate key="tx_newssubmit_domain_model_news.author" />
	</label>
	<f:form.textfield property="author" id="news_author" />

	<label for="news_authorEmail">
		<f:translate key="tx_newssubmit_domain_model_news.authorEmail" />
	</label>
	<f:form.textfield property="authorEmail" id="news_authorEmail"/>

	<f:if condition="{settings.keywords.enabled}">
		<label for="news_keywords">
			<f:translate key="tx_newssubmit_domain_model_news.keywords" />
		</label>
		<f:form.textfield property="keywords" id="news_keywords"/>
	</f:if>

	<f:if condition="{0:settings.categories.enabled}=={0:'single'}">
		<f:then>
			<label for="news_category">
				<f:translate key="tx_newssubmit_domain_model_news.category" />
			</label>
			<f:form.select property="categories" multiple="" size="1" id="news_category" prependOptionValue="" prependOptionLabel="" options="{categories}" optionLabelField="title" />
		</f:then>
		<f:else>
			<f:if condition="{settings.categories.enabled}">
				<label for="news_categories">
					<f:translate key="tx_newssubmit_domain_model_news.categories" />
				</label>
				<f:form.select property="categories" multiple="true" id="news_categories" options="{categories}" optionLabelField="title" />
			</f:if>
		</f:else>
	</f:if>
</fieldset>

<fieldset>
	<legend><f:translate key="header.references" /></legend>

	<f:if condition="{settings.link.enabled}">
		<label for="news_link">
			<f:translate key="tx_newssubmit_domain_model_news.link" />
		</label>
		<f:form.textfield name="link" id="news_link"/>
	</f:if>

	<f:if condition="{settings.image.enabled}">
		<label for="news_image">
			<f:translate key="tx_newssubmit_domain_model_news.image" />
		</label>
		<ns:form.upload property="falMedia.0">
			<f:if condition="{resource}">
				<f:image image="{resource}" alt="" width="50"/>
			</f:if>
			<ns:form.getError property="{property}" />
		</ns:form.upload>
		<ns:form.upload property="falMedia.1">
			<f:if condition="{resource}">
				<f:image image="{resource}" alt="" width="50"/>
			</f:if>
			<ns:form.getError property="{property}" />
		</ns:form.upload>
		<ns:form.upload property="falMedia.2">
			<f:if condition="{resource}">
				<f:image image="{resource}" alt="" width="50"/>
			</f:if>
			<ns:form.getError property="{property}" />
		</ns:form.upload>
		<ns:form.upload property="falMedia.3">
			<f:if condition="{resource}">
				<f:image image="{resource}" alt="" width="50"/>
			</f:if>
			<ns:form.getError property="{property}" />
		</ns:form.upload>
	</f:if>

	<f:if condition="{settings.keywords.attachment}">
		<label for="news_attachment">
			<f:translate key="tx_newssubmit_domain_model_news.attachment" />
		</label>
		<ns:form.upload property="falRelatedFiles.0">
			<f:if condition="{resource}">
				{resource.originalResource.name}
			</f:if>
			<ns:form.getError property="{property}" />
		</ns:form.upload>
	</f:if>
</fieldset>




